logs/*
!.gitkeep
package-lock.json
weaver-server.log
dist/
node_modules/
app/node_modules
app/dist
tmp
.tmp/
.project
.DS_Store
.idea
npm-debug.log
.sass-cache/
app/config/appConfig.js
app/resources/styles/*
!app/resources/styles/sass/
app/resources/scripts/*
!app/resources/scripts/vendor/
