<h1>Directive Gallery</h1>

<h2>Accordion</h2>

<accordion single-expand="true">
	<pane query="paneOne" html="views/directive-demo/accordion/paneOne.html">Pane One</pane>
	<pane query="paneTwo" html="views/directive-demo/accordion/paneTwo.html">Pane Two</pane>
	<pane query="paneThree" html="views/directive-demo/accordion/paneThree.html">Pane Three</pane>
</accordion>

<br>

<pre>
	&lt;accordion single-expand="true"&gt;
		&lt;pane query="paneOne" html="views/directive-demo/accordion/paneOne.html"&gt;Pane One&lt;/pane&gt;
		&lt;pane query="paneTwo" html="views/directive-demo/accordion/paneTwo.html"&gt;Pane Two&lt;/pane&gt;
		&lt;pane query="paneThree" html="views/directive-demo/accordion/paneThree.html"&gt;Pane Three&lt;/pane&gt;
	&lt;/accordion&gt;
</pre>

<h2>Alert</h2>

<alerts types="SUCCESS, INFO, WARNING, ERROR" channels="directive/gallery" exclusive fixed></alerts>

<pre>
	&lt;alerts exclusive fixed channels="directive/gallery" types="SUCCESS, ERROR, WARNING, INFO"&gt;&lt;/alerts&gt;
</pre>

<h2>Footer</h2>

<tamufooter></tamufooter>

<pre>
	&lt;tamufooter&gt;&lt;/tamufooter&gt;
</pre>

<h2>Header</h2>

<tamuheader title="Directives Gallery"></tamuheader>

</br>

<pre>
	&lt;tamuheader title="Directives Gallery"&gt;&lt;/tamuheader&gt;
</pre>

<h2>Modal</h2>

<modal 	modal-id="demoModal"
		modal-view="views/directive-demo/modal/modalDemo.html"
		modal-header-class="modal-header-primary"
		modal-btn-classes="btn btn-primary">
		Demo
</modal>

<br><br>

<pre>
	&lt;modal 	modal-id="demoModal"
		modal-view="views/directive-demo/modal/modalDemo.html"
		modal-header-class="modal-header-primary"
		modal-btn-classes="btn btn-primary"&gt;
		Demo
	&lt;/modal&gt;
</pre>

<h2>Tabs</h2>

<tabs target="settingsView">
	<tab path="tab-one" html="views/directive-demo/tabs/tab-one.html">Tab One</tab>
	<tab path="tab-two" html="views/directive-demo/tabs/tab-one.html">Tab Two</tab>
	<tab path="tab-three" html="views/directive-demo/tabs/tab-one.html">Tab Three</tab>
</tabs>

<tabview class="tabs-demo-view" for="settingsView">
</tabview>

<br></br>

<pre>
	&lt;tabs target="settingsView"&gt;
		&lt;tab path="tab-one" html="views/directive-demo/tabs/tab-one.html"&gt;Tab One&lt;/tab&gt;
		&lt;tab path="tab-two" html="views/directive-demo/tabs/tab-one.html"&gt;Tab Two&lt;/tab&gt;
		&lt;tab path="tab-three" html="views/directive-demo/tabs/tab-one.html"&gt;Tab Three&lt;/tab&gt;
	&lt;/tabs&gt;

	&lt;tabview class="tabs-demo-view" for="settingsView"&gt;
	&lt;/tabview&gt;
</pre>

<h2>Tooltip</h2>

<p> Here is a <span tooltip="It is ver informative.">tool-tip</span></p>

<br>

<pre>
	&lt;p&gt; Here is a &lt;span tooltip="It is ver informative."&gt;tool-tip&lt;/span&gt;&lt;/p&gt;
</pre>

<h2>User</h2>

<ul>
	<li><username></username></li>
	<li><useremail></useremail></li>
	<li><useruin></useruin></li>
	<li><useraffiliation></useraffiliation></li>
</ul>

<pre>
	&lt;ul&gt;
		&lt;li&gt;&lt;username&gt;&lt;/username&gt;&lt;/li&gt;
		&lt;li&gt;&lt;useremail&gt;&lt;/useremail&gt;&lt;/li&gt;
		&lt;li&gt;&lt;useruin&gt;&lt;/useruin&gt;&lt;/li&gt;
		&lt;li&gt;&lt;useraffiliation&gt;&lt;/useraffiliation&gt;&lt;/li&gt;
	&lt;/ul&gt;
</pre>